.button {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s linear;
}
.button:hover {
  opacity: 0.5;
}